absl-py==2.0.0
appdirs==1.4.4
asttokens==2.4.0
attrs==23.1.0
backcall==0.2.0
bidict==0.22.1
black==19.10b0
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
cfgv==3.3.1
chardet==5.2.0
charset-normalizer==3.3.0
click==8.0.4
contourpy==1.1.1
cycler==0.12.1
decorator==5.1.1
distlib==0.3.6
docopt==0.6.2
executing==2.0.0
flake8==3.7.9
fonttools==4.43.1
fsspec==2023.5.0
gitdb==4.0.10
GitPython==3.1.37
google-auth==2.23.2
google-auth-oauthlib==1.0.0
grpcio==1.59.0
HyperPyYAML==1.2.0
identify==2.5.24
idna==3.4
imageio==2.31.5
importlib-metadata==6.8.0
importlib-resources==6.1.0
ipdb==0.13.13
ipython==8.12.3
jedi==0.19.1
joblib==1.2.0
jsonpickle==3.0.2
kiwisolver==1.4.5
labml==0.4.168
lazy_loader==0.3
Markdown==3.5
MarkupSafe==1.1.1
matplotlib==3.7.3
matplotlib-inline==0.1.6
mccabe==0.6.1
miditoolkit==0.1.16
mido==1.3.0
more-itertools==9.1.0
music21==8.3.0
muspy==0.5.0
nodeenv==1.8.0
numpy==1.23.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.52
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
packaging==23.1
pandas==2.0.3
parso==0.8.3
pathspec==0.11.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.1
pipreqs==0.4.13
platformdirs==3.5.1
pluggy==0.13.1
pre-commit==3.3.2
pretty-midi==0.2.10
prompt-toolkit==3.0.39
protobuf==4.24.4
ptflops==0.7.1.2
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.5.0
pycparser==2.21
pydub==0.25.1
pyflakes==2.1.1
Pygments==2.16.1
pyparsing==3.1.1
pypianoroll==1.0.4
pytest==5.4.1
python-dateutil==2.8.2
pytorch-fast-transformers==0.4.0
pytz==2023.3.post1
PyWavelets==1.4.1
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
ruamel.yaml==0.17.26
ruamel.yaml.clib==0.2.7
scikit-image==0.21.0
scikit-learn==1.3.1
scipy==1.10.1
seaborn==0.13.0
sentencepiece==0.1.99
six==1.16.0
smmap==5.0.1
soundfile==0.12.1
stack-data==0.6.3
tensorboard==2.14.0
tensorboard-data-server==0.7.1
thop==0.1.1.post2209072238
threadpoolctl==3.2.0
tifffile==2023.7.10
toml==0.10.2
tomli==2.0.1
torch==1.8.1+cu111
torchaudio==0.8.1
torchmetrics==1.2.0
torchvision==0.9.1+cu111
tqdm==4.66.1
traitlets==5.11.2
triton==2.1.0
typed-ast==1.5.4
tzdata==2023.3
urllib3==2.0.6
virtualenv==20.23.0
wcwidth==0.2.8
webcolors==1.13
Werkzeug==3.0.0
yamllint==1.23.0
yarg==0.1.9
zipp==3.17.0
